@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');
body{
    font-family: "poppins";
}


.example-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  #myGrid {
    flex: 1 1 0px;
    width: 100%;
  }
  
  .ag-theme-alpine {
    --ag-background-color: #e65757;
  }
  .ag-theme-acmecorp {
    --ag-odd-row-background-color: #aaa;
  }
  